<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_smart_one"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_smart_one"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartGel_v4"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <service
            android:name=".BornePollingJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity
            android:name=".AgentViewMissionActivity"
            android:exported="false" />
        <activity
            android:name=".AlertesRespActivity"
            android:exported="false" />

        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".DoMissionActivity"
            android:exported="false" />
        <activity
            android:name=".AgentHistoriqueAffectationsActivity"
            android:exported="false" />
        <activity
            android:name=".AlertesActivity"
            android:exported="false" />
        <activity
            android:name=".EtablissementActivity"
            android:exported="false" />
        <activity
            android:name=".AgentActivity"
            android:exported="false" />
        <activity
            android:name=".ResponsableAgentActivity"
            android:exported="false" />
        <activity
            android:name=".ResponsableTechActivity"
            android:exported="false" />
        <activity
            android:name=".BornesActivity"
            android:exported="false" />
        <activity
            android:name=".OneBorneActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".DefaultActivity"
            android:exported="false" />
        <activity
            android:name=".HistoriqueAffectationsActivity"
            android:exported="false" />
        <activity
            android:name=".ResponsableTechniqueHistoriqueMission"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>